<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MathWiz.Properties.Settings.MathWizGroup3ConnectionString"
            connectionString="Data Source=MathWizGroup3.db.2823567.e83.hostedresource.net;Initial Catalog=MathWizGroup3;Persist Security Info=True;User ID=MathWizGroup3;Password=P@ssw@rd3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>